<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="SemiColonWeb">
	<meta name="description"
		content="Get Canvas to build powerful websites easily with the Highly Customizable &amp; Best Selling Bootstrap Template, today.">

	<!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital@0;1&display=swap"
		rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="css/style_login.css">
	<link rel="stylesheet" href="css/main.css">
	<!-- Font Icons -->
	<link rel="stylesheet" href="./Login/css/font-icons.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="./Login/css/custom.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Document Title
	============================================= -->
	<title>Data Tables | Canvas</title>

</head>

<body class="stretched" data-menu-breakpoint="1200">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper">

		<!-- Header
		============================================= -->
		<header>
			<div class="container">
				<a href="/">Versatile Haus</a>
			</div>
		</header>

		<!-- Page Title
		============================================= -->


		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container">
					<div class="table-responsive">
						<h1 class="text-center">ตารางมอบหมายงาน</h1>
						<table id="datatable1" class="table table-bordered text-center mb-6" cellspacing="0"
							width="100%">
							<thead>
								<tr>
									<th>Name</th>
									<th>Detail</th>
									<th>Date</th>
									<th>Handle</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody class="align-items-center">
								<% for (i in dataUsers) { %>
									<tr>
										<form action="/addDetail" method="POST">
											<td>
												<%= dataUsers[i].user_name %>
											</td>
											<td hidden><input type="text" name="username"
													value="<%= dataUsers[i].user_name %>"></td>
											<td>
												<input type="text" placeholder="รายละเอียดงาน"
													style="width: 100%; border: none;" name="detail">
											</td>
											<td>
												<input type="date" style="border: none;" name="timestart">
											</td>
											<td>

												<button class="btn btn-success">ส่ง</button>
												
											</td>
										</form>
										<td>
											<button class="btn btn-danger" onclick="deleteConfirm()">X</button>
										</td>
										
									</tr>
									<% } %>

							</tbody>
						</table>

						<h1 class="text-center">รายละเอียดงาน</h1>
						<table id="datatable1" class="table table-bordered text-center" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Name</th>
									<th>Work</th>
									<th>Detail</th>
									<th>Date</th>
									<th>Status</th>
								</tr>

							</thead>
							<tbody class="align-items-center">
								
								<% 
									const datas = {
										[0]: "กำลังทำ",
										[1]: "เสร็จแล้ว",
									}
									
									for (i in dataDetail) { 
								%>
									<tr>
										
										<td>
											<%= dataDetail[i].detail_owner %>
										</td>
										<td>
											<%= dataDetail[i].detail_list %>
										</td>
										<td style="word-break: break-all;">
											<%= dataDetail[i].detail_success ?? "" %>
										</td>
										<td>
											<%= dataDetail[i].detail_date %>
										</td>
										<td>
											<% 
											if (datas[dataDetail[i].detail_status] == "กำลังทำ") {
											%>
											<button class="btn btn-warning text-white">
												<%=
												datas[dataDetail[i].detail_status]
												%>
											</button>
											<%
											}else if (datas[dataDetail[i].detail_status] == "เสร็จแล้ว") {
											%>
											<button class="btn btn-success text-white">
												<%=
												datas[dataDetail[i].detail_status]
												%>
											</button>
											<%
											}
											%>
											
										</td>
									
									</tr>
							<% 
								} 
							%>

							</tbody>
						</table>
					</div>

				</div>


			</div>
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">
			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container">
					Copyrights &copy; 2023 All Rights Reserved by Canvas Inc.
				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->


	<!-- JavaScripts
	============================================= -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="js/script.js"></script>
	<script src="js/plugins.min.js"></script>
	<script src="js/functions.bundle.js"></script>

	<!-- Bootstrap Data Table Plugin -->
	<script src="js/components/bs-datatable.js"></script>

	<script>
		jQuery(document).ready(function () {
			jQuery('#datatable1').dataTable();
		});
	</script>

</body>

</html>